:root {
  /* text colors */
  --main-color: #212121;
  --secondary-color: #757575;
  --active-color: #2196f3;
  --backdrop-card-color: rgba(33, 150, 243, 0.9);
  --white-color: #ffffff;
  --link-color-rgba-60: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --social-links-rgba-10: rgba(255, 255, 255, 0.1);
  --bg-work-cards: rgba(47, 48, 58, 0.8);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --text-area-color: rgba(117, 117, 117, 0.5);

  /* background color */
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
  --border-color: #eeeeee;
  --header-line: #ececec;
  --bg-modal: rgba(0, 0, 0, 0.2);

  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* other */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--main-color);
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.btn {
  padding: 0;
  display: block;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* INDEX.HTML */

/* HEADER */
.header {
  border-bottom: 1px solid var(--header-line);
}
/* КОНТЕЙНЕР  */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}
.blue {
  color: var(--active-color);
}
.list {
  list-style: none;
}
.nav-list {
  display: flex;

  margin-left: 93px;
}
.nav-item {
  margin-left: 50px;
  position: relative;
}
.nav-item:first-child {
  margin-left: 0;
}
.nav-link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--main-color);

  text-decoration: none;

  transition: color var(--timing-function);
}
.link-padding {
  padding: 32px 0;
}
.nav-list .nav-link.current {
  color: var(--active-color);
}
.nav-list .nav-link.current::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;

  border-radius: 2px;
  background-color: var(--active-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}
.auth-list {
  display: flex;
  align-items: center;
}
.auth-item {
}
.auth-item + .auth-item {
  margin-left: 50px;
}
.auth-link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-color);

  text-decoration: none;

  transition: color var(--timing-function);
}
.auth-link:hover,
.auth-link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}
.auth-icon {
  align-items: center;

  margin-right: 10px;

  fill: var(--secondary-color);
  transition: fill var(--timing-function);
}

.auth-link:hover .auth-icon {
  fill: var(--active-color);
}
.auth-link:focus .auth-icon {
  fill: var(--active-color);
}

/* ГЕРОЙ */
.hero {
  background-color: var(--bg-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/index/hero/bg-hero-sq.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;

  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--active-color);

  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--bg-modal);

  opacity: 1;
  transition: opacity var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;

  background-color: var(--white-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-cross {
  transition: fill var(--timing-function);
}
.modal-btn:hover .modal-cross {
  fill: var(--active-color);
}
.modal-wrap {
  padding: 40px;
}
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  color: var(--main-color);
}
.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- =======================  -->
      <!-- ВАРІАНТ 1 -->
<!-- ======================= --> */

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-color);
}
.form-input {
  width: 448px;
  height: 40px;

  padding-left: 42px;

  border: none;
  outline: 1px solid var(--modal-border-color);
  border-radius: 4px;

  transition: outline var(--timing-function);
}
.form-svg {
  position: absolute;
  top: 50%;
  left: 15px;

  transition: fill var(--timing-function);
}
.form-input:focus {
  outline: 1px solid var(--active-color);
}
.form-input:hover {
  outline: 1px solid var(--active-color);
}
.form-input:focus ~ .form-svg {
  fill: var(--active-color);
}
.form-input:hover ~ .form-svg {
  fill: var(--active-color);
}
.form-area {
  width: 448px;
  height: 120px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  padding-top: 12px;
  padding-left: 16px;

  color: var(--text-area-color);

  outline: 1px solid var(--modal-border-color);
  border: none;
  border-radius: 4px;

  resize: none;
  transition: outline var(--timing-function);
}
.form-area:focus,
.form-area:hover {
  outline: 1px solid var(--active-color);
}
.field-margin {
  margin-bottom: 20px;
}
.shadow {
  transition: box-shadow var(--timing-function);
}
.shadow:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.block-margin {
  display: block;
  margin-bottom: 30px;
}
.label-pointer {
  cursor: pointer;
}
.form-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
.checked-icon {
  display: inline-flex;

  width: 15px;
  height: 15px;

  border: 2px solid var(--main-color);
  border-radius: 4px;
}
.form-check:checked + .checked-icon {
  background-color: var(--active-color);
  border-color: var(--active-color);
}
.check-svg {
  position: absolute;
  top: 2px;
  left: 4px;

  border-radius: 4px;
  fill: transparent;

  transition: fill var(--timing-function), background-color var(--timing-function);
}

.form-check:checked ~ .check-svg {
  fill: white;
  background-color: var(--active-color);
}
.form-link {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--active-color);
}

/* <!-- =======================  -->
    <!-- ВАРІАНТ 2 -->
<!-- ======================= --> */

/* .form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}
.form-input {
  width: 448px;
  height: 40px;

  padding-left: 45px;

  border: none;
  outline: 1px solid var(--modal-border-color);
  border-radius: 4px;

  transition: outline var(--timing-function);
}
.form-input:focus {
  outline: 1px solid var(--active-color);
}
.form-input:focus ~ .form-svg {
  fill: var(--active-color);
}
.form-text {
  position: absolute;
  top: -21px;
  left: 0;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-color);
}
.form-svg {
  position: absolute;
  top: 11px;
  left: 15px;
  transition: fill var(--timing-function);
}
.textarea {
  width: 448px;
  height: 120px;

  font-size: 12px;
  line-height: 14px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  padding-top: 12px;
  padding-left: 16px;

  border: none;
  outline: 1px solid var(--modal-border-color);
  border-radius: 4px;

  color: var(--text-area-color);

  resize: none;

  transition: outline var(--timing-function);
}
.textarea:focus {
  outline: 1px solid var(--active-color);
}
.textarea-margin {
  margin-bottom: 20px;
}
.form-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-icon {
  display: inline-block;

  width: 15px;
  height: 15px;

  border: 2px solid var(--main-color);
  border-radius: 2px;

  margin-right: 7px;
}
.check-svg {
  display: inline-block;

  border: 2px solid var(--main-color);
  border-radius: 2px;

  margin-right: 7px;
  fill: white;
  transition: border var(--timing-function), background-color var(--timing-function);
}
.form-check:checked + .check-svg {
  background-color: var(--active-color);
  border-color: var(--active-color);
}
.check-label {
  display: inline-flex;
  align-items: center;

  margin-bottom: 30px;
}
.form-check-text {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
.form-link {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--active-color);
}
.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* СИЛЬНІ СТОРОНИ */

/* яке повторюється */
.section {
  padding: 94px 0;
}
.section-padding {
  padding-top: 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
/* ////яке повторюється */

.pros-list {
  display: flex;
  justify-content: space-between;
}
.pros-item {
  width: calc((100% - 90px) / 4);
}
.pros-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-light);
}
.pros-icon {
  border-radius: 4px;

  background-color: var(--bg-light);
}

/* .pros-item::before {
  content: '';
  display: block;
  height: 120px;
  border-radius: 4px;

  background-color: var(--bg-light);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;

  margin-bottom: 30px;
}
.antenna:before {
  background-image: url('../images/index/strengths/antenna.svg');
}
.clock::before {
  background-image: url('../images/index/strengths/clock.svg');
}
.diagram::before {
  background-image: url('../images/index/strengths/diagram.svg');
}
.astronaut:before {
  background-image: url('../images/index/strengths/astronaut.svg');
} */

.pros-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.pros-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

/* ЧИМ ЗАЙМАЄМОСЬ */
.work-list {
  display: flex;
  justify-content: space-between;
}
.work-item {
}
.work-item-wrap {
  position: relative;
}
.work-img {
}
.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--bg-work-cards);
}
/* НАША КОМАНДА */
.bg-light {
  background-color: var(--bg-light);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  margin-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;

  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--secondary-color);

  margin-bottom: 16px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.team-icons-item + .team-icons-item {
  margin-left: 10px;
}
.team-icons-link {
  /* display: block; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  /* padding: 12px; */

  border-radius: 50%;

  color: var(--white-color);
  transition: background-color var(--timing-function);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--active-color);
}
.team-icons-link:focus .team-icons-unit {
  fill: currentColor;
}
.team-icons-link:hover .team-icons-unit {
  fill: currentColor;
}

.team-icons-unit {
  display: block;

  fill: var(--icon-color);

  transition: fill var(--timing-function);
}

/* Постійні клієнти */
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-link {
  display: block;
  padding: 16px 32px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--active-color);
  fill: var(--active-color);
}
.clients-icon {
  transition: fill var(--timing-function);
}
/* FOOTER */

.footer {
  background-color: var(--bg-dark);
  padding: 60px 0;
}
.color-white {
  color: var(--white-color);
}
.color-rgba {
  color: var(--link-color-rgba-60);
}
.footer-address {
  font-style: normal;
}
.list-block {
  display: block;
  margin-left: 0;
}
.list-block > .nav-item {
  margin-left: 0;
  margin-bottom: 9px;
}
.list-block > .nav-item:last-child {
  margin-bottom: 0;
}
.margin-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.social-links {
  margin-left: 70px;
}
.social-links-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 20px;
}
.social-links-list {
  display: flex;
}
.social-list-item {
  margin-left: 10px;
}
.social-list-item:first-child {
  margin-left: 0;
}
.social-list-link {
  display: block;
  padding: 12px;
  border-radius: 50%;

  color: var(--white-color);
  background-color: var(--social-links-rgba-10);

  transition: background-color var(--timing-function);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--active-color);
}
.social-list-icons {
  display: block;

  fill: currentColor;
}
.form-footer-wrap {
  margin-left: auto;
}
.form-footer {
  display: flex;
}
.form-footer-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 20px;
}
.input-footer-mail {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: var(--link-color-rgba-60);
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: outline var(--timing-function);
}
.form-footer-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  line-height: calc(30 / 16);

  padding: 10px 28px;
  margin-left: 12px;

  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form-footer-svg {
  margin-left: 10px;

  fill: var(--white-color);
}
/* END ///INDEX.HTML */

/* PORTFOLIO.HTML */

/* Фільтр */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
  display: inline-block;
}
.filter-item + .filter-item {
  margin-left: 8px;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--bg-light);

  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  cursor: pointer;

  transition: background-color var(--timing-function), color var(--timing-function),
    box-shadow var(--timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Приклади проектів */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow var(--timing-function);
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-border {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  text-decoration: none;

  color: var(--main-color);
}
.projects-img-wrap {
  position: relative;
  overflow: hidden;
}

.projects-img-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-card-color);

  transform: translateY(100%);
  transition: transform var(--timing-function);
}
.projects-item:hover .projects-img-wrap::after {
  transform: translateY(0);
}
.projects-text-after {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  padding: 63px 24px;

  color: var(--white-color);

  transform: translateY(100%);
  transition: transform var(--timing-function);

  z-index: 10;
}
.projects-item:hover .projects-text-after {
  transform: translateY(0);
}
.projects-img {
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 0 0 24px;
  margin-bottom: 4px;
}
.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  padding-left: 24px;
  margin-bottom: 20px;

  color: var(--secondary-color);
}
/* END //PORTFOLIO.HTML */
