%button{
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
    
        color: $white-color;
        background-color: $active-color;
    
        min-width: 216px;
        border-radius: 4px;
        border: none;
}

%section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

%logo{
        color: $black-color;
            font-family: 'Raleway', sans-serif;
        
            font-weight: 700;
            font-size: 26px;
            line-height: calc(31 / 26);
        
            text-decoration: none;
}