// аутентифікація хедеру

.auth-list {
    display: flex;
    align-items: center;
}

.auth-list__item {
    & + & {
    margin-left: 50px
    }
}

.auth-list__link {
    display: inline-flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: $secondary-color;

    text-decoration: none;

    transition: color $timing-function;

    &:hover,
    &:focus {
            color: $active-color;
            fill: $active-color;
        }
}

.auth-list__link--indent {
    padding: 32px 0;
}


.auth-list__icon {
    align-items: center;

    margin-right: 10px;

    fill: $secondary-color;
    transition: fill $timing-function;

.auth-list__link:hover &,
.auth-list__link:focus &{
    fill: $active-color;
}
}